html,
body {
    color: white;
    background-color: indigo;
}

body {
    /* Implementacion de Grid */
    display: grid;
    height: 100%;
    grid-template-columns: 20% 80%;
}


/* Menu */

nav {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: mediumpurple;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #8C0476;
}


/* Parte lateral izquierda */

aside {
    background-color: #8C0476;
    grid-row-start: 3;
    grid-row-end: 4;
}


/* Contenido principal */

section {
    background-color: #8C0476;
}

article {
    background-color: purple;
}


/* Pie de página */

footer {
    background-color: royalblue;
    grid-column-start: 1;
    grid-column-end: 3;
}